# Python virtual environments
.venv/
backend/
.github/

# Web app (not needed for mobile build)
/src/
public/
node_modules/
mobile/patches/

# Ensure mobile source is always included in cloud builds.
!mobile/src/
!mobile/src/**

# Build artifacts & caches
.expo/
dist/
web-build/
*.tsbuildinfo

# Secrets & env
.env
.env.*
!.env.example

# IDE
.vscode/

# Misc
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
